<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/cssjqryUi")
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    @*<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>

</head>
<body>
    @if (HttpContext.Current.Session[Utility.Constances.Mode].ToString() == Utility.Constances.ACTUAL)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/Home/Index" class="navbar-brand">PayRoll</a>
                    @*@Html.ActionLink("PayRoll", "Index", "Home", new { area = "" }, new { @id="rootmode", @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Master", "Index", "Home")</li>
                            <li>@Html.ActionLink("Transaction", "Index", "Transaction")</li>
                            <li>@Html.ActionLink("Reports", "Index", "Reports")</li>*@
                        <li>
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Master</a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Home/ListEmployee">Employee</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Transaction</a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Home/TodayAttenance">Today Attenance</a></li>
                                <li><a href="~/Home/AttenanceReport">Attenance Report</a></li>
                                <li><a href="~/Home/AddAttenance">Manual Attenance</a></li>
                                <li><a href="~/Transaction/ProceedAttenance">Process Attenance</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Reports</a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Transaction/SalaryInfo">Salary Report</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" id="rootmode">Change Mode</a>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#dd4b39">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/Home/Index" class="navbar-brand">PayRoll</a>
                    @*@Html.ActionLink("PayRoll", "Index", "Home", new { area = "" }, new { @id="rootmode", @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Master", "Index", "Home")</li>
                            <li>@Html.ActionLink("Transaction", "Index", "Transaction")</li>
                            <li>@Html.ActionLink("Reports", "Index", "Reports")</li>*@
                        <li>
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Master</a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Home/ListEmployee">Employee</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Transaction</a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Home/TodayAttenance">Today Attenance</a></li>
                                <li><a href="~/Home/AttenanceReport">Attenance Report</a></li>
                                <li><a href="~/Home/AddAttenance">Manual Attenance</a></li>
                                <li><a href="~/Transaction/ProceedAttenance">Process Attenance</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Reports</a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Transaction/SalaryInfo">Salary Report</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" id="rootmode">Change Mode</a>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js" />*@

    <script>

        $(document).ready(function (event) {
            $("#rootmode").on("click", function (event) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("UpdateMode", "Home")",
                    success: function (res) {
                        window.location.reload();
                    }
                })
            })

        })

    </script>


    @RenderSection("scripts", required: false)
</body>
</html>
